/* Color variables */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --white-color: #fff;
  --bg-color: #fff;
  --gray-color: #ccc;
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --accent-color: #e74c3c;
  --dark-color: #34495e;
  --light-color: #ecf0f1;
  --success-color: #27ae60;
  --warning-color: #f39c12;
  --info-color: #3498db;
}

/* Changing background color */
body {
  background: var(--bg-color) !important;
}

/* Changing link color */
.nav-item .nav-link {
  color: var(--white-color);
}
/*800px*/
/* Hero section background image */
.hero {
  height: 100vh;
  background-image: url("../images/home-bg.png");
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  background-attachment: fixed;
}

#skills i {
  height: 100px;
  width: 100px;
}

#portfolio img {
  height: 300px;
  object-fit: cover;
}

#about .img,
#about img,
.hire-text h2 {
  position: relative;
}

/* Timeline background line */
#about .img::before {
  content: "";
  left: 50%;
  width: 4px;
  position: absolute;
  height: calc(100% + 140px);
  background: var(--gray-color);
}

#about img,
#about .hire-text h2 {
  width: 140px;
}

#about .hire-text h2 {
  height: 140px;
}

.social-icons a {
  width: 40px;
  height: 40px;
}

footer .social-icons a {
  width: 30px;
  height: 30px;
}

#cv img {
  width: 230px;
}

/* Contact section background image */
#contact {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-image: url("../images/contact-bg.jpeg");
}

@media screen and (max-width: 990px) {
  #skills .card {
    width: calc(100% / 2 - 10px) !important;
  }
}

@media screen and (max-width: 668px) {
  #skills .card,
  #portfolio .card-wrapper {
    width: 100% !important;
  }
}



.h1 {
  color: red;
}

.fw-medium {
  font-weight: 500; /* Adjust the font weight as needed */
}

.fst-italic {
  font-style: italic;
}

.text {
  color: red;
}
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

h3, h1 {
  color: #333;
}

p {
  color: #555;
  font-size: 16px;
}

.home-sci {
  margin-top: 20px;
}

.home-sci a {
  text-decoration: none;
  color: #333;
  margin-right: 10px;
}

.btn-box {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

/* Add more styles as needed */

	

	
	